.btn {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-primary:active {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: var(--primary-color-active);
  color: white;
  cursor: pointer;
}

.btn-secondary:active {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: rgb(223, 223, 223);
  color: black;
  cursor: pointer;
}
